.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1;
}

.error {
    color: red;
}

.class-entry {
    padding: 6px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 360px;
}
